# python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# virtual environments
venv/
.env
.env/
.env.*
!.env.example

# sqlite
*.db
*.sqlite
*.sqlite3

serviceAccountKey.json

# model / cache stuff
models/
.cache/
.huggingface/
*.pkl
*.h5
*.onnx

# logs
*.log

# os
.DS_Store
