EXPO_PUBLIC_FIREBASE_API_KEY=#key goes here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=#key goes here
EXPO_PUBLIC_FIREBASE_PROJECT_ID=#key goes here
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=#key goes here
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=#key goes here
EXPO_PUBLIC_FIREBASE_APP_ID=#key goes here
EXPO_PUBLIC_MEASUREMENT_ID=#key goes here

EXPO_PUBLIC_ANDROID_CLIENT_ID=#key goes here
EXPO_PUBLIC_WEB_CLIENT_ID=#key goes here
EXPO_PUBLIC_IOS_CLIENT_ID=#key goes here

EXPO_PUBLIC_API_URL=#url goes here
#I used ngrok to generate a url i could access for testing. May not be needed for your use case
# Due to school wifi restrictions, I had to use cloudflare tunnel